h1{
    color: rgb(243, 243, 243);
    font-size: 55pt;

}

body{
    background-color: rgba(0, 0, 0, 0.712);

}

img{
    width: 250px;
    height: 350px;

}

button{
    color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
width: 100px;
height: 45px;

}
